nav {
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 3rem;
    padding-left: 3rem;
    background-color: darkcyan;
    color: white;
    font-weight: 600;
    font-size: large;
}

ul {
    list-style-type: none;
}

.userName {
    cursor: pointer;
}